.banner {
    background-color: $bg-blue;
    padding: 150px 0 70px 0;
    color: $primary-blue;

    @include mq(768) {
        padding: 150px 0 100px 0;
    }

    .banner__container {
        display: flex;
        justify-content: space-between;

        @include mq(768) {
            display: block;
        }
        
        .banner__content {
            .banner__title {
                font-size: 48px;
                max-width: 366px;
            }

            .banner__text {
                font-size: 18px;
                max-width: 550px;
                font-weight: 500;
                margin-bottom: 40px;
                line-height: 1.5;
            }

            .banner__links {
                button {
                    &:first-child {
                        margin-right: 15px;
                    }
                }
            }
        }

        .banner__hero {
            .banner__image {
                @include mq(768) {
                    width: calc(100vw - 40px);
                }
            }

            @include mq(768) {
                margin-top: 15px;
            }
        }
    }
}