header {
    background-color: $bg-blue;
    padding: 30px 0;

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo {
            .logo__link {
                color: $primary-blue;
                font-size: 32px;
                font-weight: 700;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .navbar {
            .navbar__list {
                list-style: none;
                display: flex;

                @include mq(768) {
                    display: block;
                }

                .navbar__list-item {
                    cursor: pointer;

                    &:not(:last-child) {
                        margin-right: 50px;

                        @include mq(768) {
                            margin-right: 0;
                        }
                    }

                    .navbar__list-link {
                        color: $primary-blue;
                        font-weight: 600;
                        font-size: 18px;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: $primary-blue;
                            transform-origin: bottom right;
                            transition: transform .3s ease-out;
                        }

                        &:hover {
                            &::after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }
                        }
                    }
                }
            }
        }
    }
}