header {
    background-color: $bg-blue;
    padding: 30px 0;

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .logo {
            @include mq(991) {
                margin-bottom: auto;
            }

            .logo__link {
                color: $primary-blue;
                font-size: 32px;
                font-weight: 700;
                text-decoration: none;
                cursor: pointer;
                text-shadow: $primary-blue 1px 0 3px;
            }
        }

        .navbar {
            @include mq(991) {
                justify-content: right;
            }

            .navbar__list {
                list-style: none;
                display: flex;
                align-items: center;

                @include mq(991) {
                    display: block;
                }

                .navbar__list-item {
                    cursor: pointer;
                    margin-right: 40px;

                    @include mq(991) {
                        text-align: right;
                        margin-bottom: 30px;
                        margin-right: 0;
                    }

                    &:not(:last-of-type) {
                        @include mq(991) {
                            margin-bottom: 10px;
                        }
                    }

                    .navbar__list-link {
                        color: $primary-blue;
                        font-weight: 600;
                        font-size: 18px;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: $primary-blue;
                            transform-origin: bottom right;
                            transition: transform .3s ease-out;
                        }

                        &:hover {
                            &::after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }
                        }
                    }
                }

                .button {
                    @include mq(991) {
                        margin-left: auto;
                        display: block;
                    }
                }
            }

            .navbar-toggler {
                @include mq(991) {
                    display: block;
                    margin-bottom: 20px;
                }

                .navbar-toggler-icon {
                    .fa-bars {
                        font-size: 24px !important;
                    }
                }
            }
        }
    }
}