@font-face {
  font-family: 'Outfit';
  src: url("../fonts/Outfit-Regular.woff2") format("woff2"), url("../fonts/Outfit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url("../fonts/Outfit-Medium.woff2") format("woff2"), url("../fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url("../fonts/Outfit-SemiBold.woff2") format("woff2"), url("../fonts/Outfit-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url("../fonts/Outfit-Bold.woff2") format("woff2"), url("../fonts/Outfit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  letter-spacing: 0.1px;
}

.body {
  height: 100vh;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  padding: 12px 30px;
  border: 3px solid #03254E;
  border-radius: 30px;
  background-color: #03254E;
  color: #EBF0FA;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;
}

.button:hover {
  background-color: #EBF0FA;
  color: #03254E;
}

.button--light {
  background-color: #EBF0FA;
  color: #03254E;
}

.button--light:hover {
  background-color: #03254E;
  color: #EBF0FA;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 8px 20px;
    border-width: 2px;
  }
}

/**
iconfont Webfont
*/
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot?1648629639784");
  src: url("../fonts/iconfont.eot?#iefix-1648629639784") format("embedded-opentype"), url("../fonts/iconfont.woff2?1648629639784") format("woff2"), url("../fonts/iconfont.woff?1648629639784") format("woff"), url("../fonts/iconfont.ttf?1648629639784") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: 'iconfont';
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  font-size: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
.icon-arrow-left::before {
  content: '\ea01';
}

.icon-arrow-right::before {
  content: '\ea02';
}

.icon-deliver::before {
  content: '\ea03';
}

.icon-digital-marketing::before {
  content: '\ea04';
}

.icon-discovery::before {
  content: '\ea05';
}

.icon-execute::before {
  content: '\ea06';
}

.icon-facebook::before {
  content: '\ea07';
}

.icon-graphic::before {
  content: '\ea08';
}

.icon-instagram::before {
  content: '\ea09';
}

.icon-linkedin::before {
  content: '\ea0a';
}

.icon-location::before {
  content: '\ea0b';
}

.icon-mail::before {
  content: '\ea0c';
}

.icon-mobile-app::before {
  content: '\ea0d';
}

.icon-mobile-phone::before {
  content: '\ea0e';
}

.icon-plan::before {
  content: '\ea0f';
}

.icon-toggler::before {
  content: '\ea10';
}

.icon-twitter::before {
  content: '\ea11';
}

.icon-web::before {
  content: '\ea12';
}

.icon-website::before {
  content: '\ea13';
}

.icon-youtube::before {
  content: '\ea14';
}

header {
  background-color: #EBF0FA;
  padding: 30px 0;
}

header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__container .logo .logo__link {
  color: #03254E;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

header .header__container .navbar .navbar__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  header .header__container .navbar .navbar__list {
    display: block;
  }
}

header .header__container .navbar .navbar__list .navbar__list-item {
  cursor: pointer;
}

header .header__container .navbar .navbar__list .navbar__list-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  header .header__container .navbar .navbar__list .navbar__list-item:not(:last-child) {
    margin-right: 0;
  }
}

header .header__container .navbar .navbar__list .navbar__list-item .navbar__list-link {
  color: #03254E;
  font-weight: 600;
  font-size: 18px;
  position: relative;
}

header .header__container .navbar .navbar__list .navbar__list-item .navbar__list-link::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #03254E;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

header .header__container .navbar .navbar__list .navbar__list-item .navbar__list-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.footer {
  background-color: #03254E;
  color: #EBF0FA;
}

.footer .footer__container {
  max-width: 960px;
  margin: 0 auto;
}

.footer .footer__container .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .footer .footer__container .footer__content {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer .footer__container .footer__content .logo {
    margin-bottom: 50px;
  }
}

.footer .footer__container .footer__content .logo .logo__link {
  color: #EBF0FA;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.footer .footer__container .footer__content .footer__social .footer__title-col, .footer .footer__container .footer__content .footer__policy .footer__title-col {
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer .footer__container .footer__content .footer__social .footer__item a, .footer .footer__container .footer__content .footer__policy .footer__item a {
  color: #EBF0FA;
  text-decoration: none;
}

.footer .footer__container .footer__content .footer__policy .footer__item {
  display: block;
}

.footer .footer__container .footer__content .footer__policy .footer__item:not(:last-child) {
  margin-bottom: 12px;
}

.footer .footer__container .footer__content .footer__policy .footer__item .footer__link {
  position: relative;
}

.footer .footer__container .footer__content .footer__policy .footer__item .footer__link::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EBF0FA;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.footer .footer__container .footer__content .footer__policy .footer__item .footer__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
  .footer .footer__container .footer__content .footer__policy {
    margin-bottom: 50px;
  }
}

.footer .footer__container .footer__content .footer__social .footer__item .footer__link-social i {
  font-size: 28px !important;
  color: #EBF0FA !important;
}

.footer .footer__container .footer__content .footer__social .footer__item .footer__link-social:hover {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.footer .footer__container .footer__content .footer__social .footer__item .footer__link-social:hover i {
  color: #fff !important;
}

.footer .footer__container .footer__content .footer__social .footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer .footer__container .footer__copy {
  text-align: center;
  margin-bottom: 40px;
}

.banner {
  background-color: #EBF0FA;
  padding: 70px 0 230px 0;
  color: #03254E;
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 0px 0 100px 0;
  }
}

.banner .banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .banner .banner__container {
    display: block;
  }
}

.banner .banner__container .banner__content .banner__title {
  font-size: 48px;
  max-width: 366px;
}

.banner .banner__container .banner__content .banner__text {
  font-size: 18px;
  max-width: 550px;
  font-weight: 500;
  margin-bottom: 40px;
  line-height: 1.5;
}

.banner .banner__container .banner__content .banner__links button:first-child {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .banner .banner__container .banner__hero .banner__image {
    width: calc(100vw - 40px);
  }
}

@media screen and (max-width: 768px) {
  .banner .banner__container .banner__hero {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=style.css.map */